.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  background-color: #56cc9d;
  position: sticky;
  top: 0;
  z-index: 1;
  font-family: "Convergence", sans-serif;
}

.spacer {
  flex: 1 1 auto;
}

.content {
  padding: 2%;
}

mat-sidenav-content {
  background-color: #fff;
}

a, mat-toolbar {
  font-family: "Convergence", sans-serif;
}
