<div class="grid-container">
  <h1 class="mat-h1">Recipes</h1>
  <div class="filter-input">
    <div class="input-group">
      <input #name type="search" class="form-control" [formControl]="searchControl" placeholder="Search recipe" aria-label="recipe" aria-describedby="basic-addon1">
    </div>
    
    <!--<form class="form-inline form-sm">
      <mdb-icon fas icon="search" aria-hidden="true"></mdb-icon>
      <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search recipe" aria-label="Search"
        mdbInput>
    </form>-->
    <!--<div *ngIf="!filters">
      <button class="btn btn-primary" (click)="onFilter()">Filters</button>
    </div>
    <div *ngIf="filters" class="input-group">-->
      
      <select #diet class="custom-select" id="diet">
        <option selected>Diet...</option>
        <option value="Omnivorous">Omnivorous</option>
        <option value="Vegetarian">Vegetarian</option>
        <option value="Vegan">Vegan</option>
      </select>
      <!--<div class="input-group-append">
        <button class="btn btn-outline-primary" type="button"><i class="fas fa-seedling"></i></button>
      </div>-->
    <!--</div>
    <div *ngIf="filters" class="input-group">-->
      <select #meal class="custom-select" id="meal">
        <option selected>Meal...</option>
        <option value="Breakfast">Breakfast</option>
        <option value="Snack">Snack</option>
        <option value="Lunch">Lunch</option>
        <option value="Dinner">Dinner</option>
      </select>

      <div class="input-group">
        <input class="form-control"type="text" #ingredient placeholder="Introduce an ingredient"> 
      </div>
        <button type="button" class="btn btn-primary btn-circle-md" (click)="onAddIngredient(ingredient.value)">
          <i class="fas fa-plus"></i>
      </button>

      <!--<div class="input-group-append">
        <button class="btn btn-outline-primary" type="button"><i class="fas fa-utensils"></i></button>
      </div>
    </div>-->
    <div>
      <button  class="btn btn-outline-primary check" (click)="onSubmit(name.value, diet.value, meal.value)"><i class="fas fa-check"></i></button>
      <!--<button  class="btn btn-outline-dark" (click)="onFilter()"><i class="fas fa-times"></i></button>-->
    </div>

    <mat-card class="ingredient-filter" *ngIf="ingredientsFilter.length > 0">
      <div class="card-title">Filter ingredients:</div>
      <div class="ingredientList">
          <div class="ingredient" *ngFor="let ingredient of ingredientsFilter">
              <div>
                  <div>{{ingredient}}</div>
                  <button  class="btn btn-secondary btn-circle" (click)="onDeleteIngredient(ingredient)"><i class="fas fa-times"></i></button>
              </div>
          </div>
      </div>
    </mat-card> 
    
  </div>

  <app-display-recipes [recipes]="recipes"
                       [environment]="environment"
                       (saveRecipe)="onSave($event)"
  ></app-display-recipes>

</div>


  <!--<mat-grid-list cols="3" rowHeight="250px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Save</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Card Content Here</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>-->


