<div class="grid-container">
    <h1 *ngIf="menu.title != ''">{{menu.title}}</h1>
    <h3 *ngIf="menu.description != ''">Description: {{menu.description}}</h3>
    <div class="container">
        <div class="header" *ngFor="let d of daysWeek" id="{{d}}">
            <h4 class="badge badge-dark">{{d}}</h4>
        </div>

        <div *ngIf="card.length/7 == 3" class="grid-container menu1">
            <div *ngFor="let c of card">
                <mat-card class="dashboard-card">
                    <mat-card-header>
                        <mat-card-title>
                            <h5 class="badge badge-primary">{{c.meal}}</h5>
                            <span class="spacer"></span>
                            <!--<i mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                                <mat-icon>more_vert</mat-icon>
                            </i>-->
                            <button class="btn btn-info btn-circle" (click)="showEditModal(c)"><i class="fas fa-edit"></i></button>
                            <!--<mat-menu #menu="matMenu" xPosition="before">
                                <button mat-menu-item>See recipe</button>
                                <!--<button mat-menu-item (click)="deleteRecipe(c._idMeal, c.recipes[0])">Delete recipe</button>
                            </mat-menu>-->
                        </mat-card-title>
                    </mat-card-header> 
                    <mat-card-content class="dashboard-card-content content">
                        <!--<button *ngIf="c.recipes.length == 0" class="btn btn-outline-dark btn-circle-md" (click)="addRecipe(c._idMeal)">
                            <i class="fas fa-plus-circle"></i>
                        </button>--> 
                        <div *ngFor="let r of c.recipes">
                            <span class="r" (click)="expandRecipe(r._id)">{{r.name}}</span>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>

        <div *ngIf="card.length/7 == 4" class="grid-container menu2">
            <div *ngFor="let c of card">
                <mat-card class="dashboard-card">
                    <mat-card-header>
                        <mat-card-title>
                            <h5 class="badge badge-primary">{{c.meal}}</h5>
                            <span class="spacer"></span>
                            <i mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                                <mat-icon>more_vert</mat-icon>
                            </i>
                            <mat-menu #menu="matMenu" xPosition="before">
                                <button mat-menu-item>Add recipe</button>
                                <button mat-menu-item>Expand</button>
                            </mat-menu>
                        </mat-card-title>
                    </mat-card-header> 
                    <mat-card-content class="dashboard-card-content">
                        <br>
                        <!--<button *ngIf="c.recipes.length == 0" class="btn btn-outline-dark btn-circle-md" (click)="addRecipe(c._idMeal)">
                            <i class="fas fa-plus-circle"></i>
                        </button>--> 
                        <div *ngFor="let r of c.recipes">
                            <h5 (click)="expandRecipe(r._id)">{{r.name}}</h5>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>

        <div *ngIf="card.length/7 == 5" class="grid-container menu3">
            <div *ngFor="let c of card">
                <mat-card class="dashboard-card">
                    <mat-card-header>
                        <mat-card-title>
                            <h5 class="badge badge-primary">{{c.meal}}</h5>
                            <span class="spacer"></span>
                            <i mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                                <mat-icon>more_vert</mat-icon>
                            </i>
                            <mat-menu #menu="matMenu" xPosition="before">
                                <button mat-menu-item>Add recipe</button>
                                <button mat-menu-item>Expand</button>
                            </mat-menu>
                        </mat-card-title>
                    </mat-card-header> 
                    <mat-card-content class="dashboard-card-content">
                        <br>
                        <!--<button class="btn btn-outline-dark btn-circle-md" (click)="addRecipe(c._idMeal)">
                            <i class="fas fa-plus-circle"></i>
                        </button>--> 
                        <div *ngFor="let r of c.recipes">
                            <h5 (click)="expandRecipe(r._id)">{{r.name}}</h5>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>

    <!-- Edit Recipe Modal -->
    <div id="editModal" class="modal fade" role="dialog" [ngClass]="{'show': showModalEdit}">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" (click)="showModalEdit=false" data-bs-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="flex-box">
                        <input #recipesName type="text" placeholder="Introduce recipe">
                        <button class="btn btn-primary btn-circle" (click)="addRecipe(active._idMeal, recipesName.value)">
                            <i class="fas fa-plus-circle"></i>
                        </button>
                    </div>  
                    <div class="flex-box" *ngFor="let r of active.recipes">
                        <h3 class="recipe-name">{{r.name}}</h3>
                        <button *ngIf="r._id !== ''" class="btn btn-secondary btn-circle delete" (click)="deleteRecipe(active._idMeal, r._id)">
                            <i class="fas fa-minus-circle"></i>
                        </button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Check out</button>
                    <button type="button" class="btn btn-secondary" (click)="showModalEdit=false" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete Recipe Modal -->
    <!-- <div id="deleteModal" class="modal fade" role="dialog" [ngClass]="{'show': showModalDel}">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" (click)="showModalDel=false" data-bs-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <h2>Are you sure?</h2>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" >Check out</button>
                    <button type="button" class="btn btn-secondary" (click)="showModalDel=false" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
            
        </div>
    </div>-->

</div>
