h1 {
    text-align: center;
    font-size: xx-large;
}

.grid-container {
    height: 100%;
    width: 100%;
}

.btn-primary {
    margin-bottom: 10px;
}

.row {
    width: 100%;
}

.col {
    text-align: center;
    height: 100%;
    width: 100%;
}

.badge-dark {
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 5px;
    margin-left: 5%;
    width: 100%;
}

.badge-primary {
    position: absolute;
    padding-left: 5%;
    padding-right: 5%;
    font-size: small;
    top: 5px;
    left:10px
}

.more-button {
    position: absolute;
    top: 5px;
    right: 1px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.header {
    flex-basis: 14%;
}


.menu1 {
    height: 440px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.menu2 {
    height: 600px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.menu3 {
    height: 730px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.dashboard-card {
    height: 135px;
    width: 94%;
    margin-bottom: 10px;
    margin-left: 5px;
}

.dashboard-card-content {
    margin-top: 5px;
    text-align: center;
}

.btn-circle-md {
    width: 40px;
    height: 40px;
    padding: 6px 0px;
    border-radius: 25px;
    text-align: center;
    font-size: 25px;
    line-height: 1.02857;
    margin-left: 5px;
}

.btn-outline-dark {
    border: 0px;
}

.modal.show {
    display: block;
}

#useless 
.card {
    text-align: left;
    
}

.container-fluid {

    display: grid;
    margin-bottom: 5%;
    grid-template-columns: max-content;
    grid-template-rows: max-content;

}