<div class="grid-container">
    <h1 *ngIf="menu.title != ''">{{menu.title}}</h1>
    <h3 *ngIf="menu.description != ''">Description: {{menu.description}}</h3>
    <div class="row">
        <div class="col" *ngFor="let d of daysWeek" id="{{d}}">
            <h4 class="badge badge-dark">{{d}}</h4>
        </div>
    </div>

    <div *ngIf="card.length/7 == 3" class="grid-container menu1">
        <div *ngFor="let c of card">
            <mat-card class="dashboard-card">
                <mat-card-header>
                    <mat-card-title>
                        <h5 class="badge badge-primary">{{c.meal}}</h5>
                        <span class="spacer"></span>
                        <i mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                            <mat-icon>more_vert</mat-icon>
                        </i>
                        <mat-menu #menu="matMenu" xPosition="before">
                            <button mat-menu-item>Add recipe</button>
                            <button mat-menu-item>See recipe</button>
                            <button mat-menu-item (click)="deleteRecipe(c._idMeal, c.recipes[0])">Delete recipe</button>
                        </mat-menu>
                    </mat-card-title>
                </mat-card-header> 
                <mat-card-content class="dashboard-card-content">
                    <br>
                    <button *ngIf="c.recipes.length == 0" class="btn btn-outline-dark btn-circle-md" (click)="addRecipe(c._idMeal)">
                        <i class="fas fa-plus-circle"></i>
                    </button> 
                    <h5>{{c.recipes}}</h5>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div *ngIf="card.length/7 == 4" class="grid-container menu2">
        <div *ngFor="let c of card">
            <mat-card class="dashboard-card">
                <mat-card-header>
                    <mat-card-title>
                        <h5 class="badge badge-primary">{{c.meal}}</h5>
                        <span class="spacer"></span>
                        <i mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                            <mat-icon>more_vert</mat-icon>
                        </i>
                        <mat-menu #menu="matMenu" xPosition="before">
                            <button mat-menu-item>Add recipe</button>
                            <button mat-menu-item>Expand</button>
                        </mat-menu>
                    </mat-card-title>
                </mat-card-header> 
                <mat-card-content class="dashboard-card-content">
                    <br>
                    <h1>{{c.recipes}}</h1>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div *ngIf="card.length/7 == 5" class="grid-container menu3">
        <div *ngFor="let c of card">
            <mat-card class="dashboard-card">
                <mat-card-header>
                    <mat-card-title>
                        <h5 class="badge badge-primary">{{c.meal}}</h5>
                        <span class="spacer"></span>
                        <i mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                            <mat-icon>more_vert</mat-icon>
                        </i>
                        <mat-menu #menu="matMenu" xPosition="before">
                            <button mat-menu-item>Add recipe</button>
                            <button mat-menu-item>Expand</button>
                        </mat-menu>
                    </mat-card-title>
                </mat-card-header> 
                <mat-card-content class="dashboard-card-content">
                    <br>
                    <h1>{{c.recipes}}</h1>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
