h1 {
    text-align: center;
    font-size: xx-large;
}

.grid-container {
    height: 100%;
    width: 100%;
}

.btn-primary {
    margin-bottom: 10px;
}

.row {
    width: 100%;
}

.col {
    text-align: center;
    height: 100%;
    width: 100%;
}

.badge-dark {
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 5px;
    margin-left: 5%;
}

.card {
    height: 90%;
    width: 95%;
}

.badge-primary {
    position: absolute;
    padding-left: 5%;
    padding-right: 5%;
    font-size: small;
    top: 5px;
    left:10px
}

.more-button {
    position: absolute;
    top: 5px;
    right: 1px;
}

.menu {
    height: 600px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.dashboard-card {
    height: 135px;
    width: 94%;
    margin-bottom: 10px;
    margin-left: 5px;
}

#useless 
.card {
    text-align: left;
    
}

.container-fluid {

    display: grid;
    margin-bottom: 5%;
    grid-template-columns: max-content;
    grid-template-rows: max-content;

}