@media (min-width: 768px){

    .list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}

h1 {
    text-align: center;
}

input[type=text] {
    border: none;
    border-bottom: 2px solid grey;
    flex-basis: 75%;
}

.btn-circle-md{
    width: 40px;
    height: 40px;
    padding: 6px 0px;
    border-radius: 25px;
    text-align: center;
    font-size: 17px;
    line-height: 1.02857;
    margin-left: 1%;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 17px;
    line-height: 1.02857;
    margin-left: 5px;
}

.ingredient > div > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ingredientList > div > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.ingredientList > div {
    margin-bottom: 3px;
}

.modal.show{
    display: block;
}

mat-card {
    flex-basis: 45%;
    margin-bottom: 2%;
}
