<div class="container">
    <h1>Groceries List</h1>
    <br>
    <div class="row">
        <div class="col">
            <input type="text" #ingredient placeholder="Introduce an ingredient"> 
            <button type="button" class="btn btn-primary" (click)="addIngredient(ingredient.value)">
                <i class="fas fa-plus-circle"></i>
            </button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-primary" (click)="shoppingDone()">
                <i class="fas fa-check-circle"></i>
                Shopping done
            </button>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-body border-light">
            <div class="list-group list-group-flush">
                <div *ngFor="let ingredient of ingredientsList">
                    <label class="list-group-item list-group-item-action" list-group-active-border-color="#FFFFFF">
                        <input class="form-check-input me-1" type="checkbox" value="{{ingredient}}">
                            {{ingredient}}
                      </label>
                </div>
            </div>
        </div>
    </div>  
   
</div>
