@import '../../../app.component.css';

.grid-container {
    height: 100%;
    width: 100%;
}

h3 {
    margin-left: 19px;
}

.badge-dark {
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 5px;
    margin-left: 5%;
    width: 100%;
}

.badge-primary {
    position: absolute;
    padding-left: 5%;
    padding-right: 5%;
    font-size: small;
    top: 5px;
    left:10px
}

.btn-info {
    position: absolute;
    top: 5px;
    right: 1px;
    border: 0px;
}

.btn-outline-info {
    position: absolute;
    top: 1px;
    right: 1px;
    border: 0px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.header {
    flex-basis: 14%;
}


.menu1 {
    height: 440px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.menu2 {
    height: 600px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.menu3 {
    height: 730px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.dashboard-card {
    height: 135px;
    width: 94%;
    margin-bottom: 10px;
    margin-left: 5px;
}

.dashboard-card-content {
    margin-top: 5px;
    text-align: center;
}

.modal.show {
    display: block;
}


.flex-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.recipe-name {
    flex-basis: 75%;
    margin-bottom: 2px;
}

.delete {
    margin-top: 5px;
}

.r {
    margin-bottom: 5px;
}

.content {
    margin-top: 10px;
}