<div class="grid-container">
    <br>
    <h1 *ngIf="menu.title != ''">{{menu.title}}</h1>
    <h3 *ngIf="menu.description != ''">Description: {{menu.description}}</h3>
    <div class="container">
        <div class="header" *ngFor="let d of daysWeek" id="{{d}}">
            <h4 class="badge badge-dark">{{d}}</h4>
        </div>

        <div *ngIf="cards.length/7 == 3" class="grid-container menu1">
            <div *ngFor="let c of cards">
                <mat-card class="dashboard-card">
                    <mat-card-header>
                        <mat-card-title>
                            <h5 class="badge badge-primary">{{c.meal}}</h5>
                            <button class="btn btn-outline-info btn-circle" (click)="editMeal(c._idMeal, c.recipes)"><i class="fas fa-edit"></i></button>
                        </mat-card-title>
                    </mat-card-header> 
                    <mat-card-content class="dashboard-card-content content">
                        <div *ngFor="let r of c.recipes">
                            <span class="r" (click)="expandRecipe(r._id)">{{r.name}}</span>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>

        <div *ngIf="cards.length/7 == 4" class="grid-container menu2">
            <div *ngFor="let c of cards">
                <mat-card class="dashboard-card">
                    <mat-card-header>
                        <mat-card-title>
                            <h5 class="badge badge-primary">{{c.meal}}</h5>
                            <button class="btn btn-outline-info btn-circle" (click)="editMeal(c._idMeal, c.recipes)"><i class="fas fa-edit"></i></button>
                        </mat-card-title>
                    </mat-card-header> 
                    <mat-card-content class="dashboard-card-content"> 
                        <div *ngFor="let r of c.recipes">
                            <h5 (click)="expandRecipe(r._id)">{{r.name}}</h5>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>

        <div *ngIf="cards.length/7 == 5" class="grid-container menu3">
            <div *ngFor="let c of cards">
                <mat-card class="dashboard-card">
                    <mat-card-header>
                        <mat-card-title>
                            <h5 class="badge badge-primary">{{c.meal}}</h5>
                            <button class="btn btn-outline-info btn-circle" (click)="editMeal(c._idMeal, c.recipes)"><i class="fas fa-edit"></i></button>
                        </mat-card-title>
                    </mat-card-header> 
                    <mat-card-content class="dashboard-card-content"> 
                        <div *ngFor="let r of c.recipes">
                            <h5 (click)="expandRecipe(r._id)">{{r.name}}</h5>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>

</div>
