h1 {
    text-align: center;
    font-size: xx-large;
}

input[type=text] {
    border: none;
    border-bottom: 2px solid grey;
}

.grid-container {
    height: 100%;
    width: 100%;
}

.btn {
    margin-bottom: 10px;
}

.badge-dark {
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 5px;
    margin-left: 5%;
    width: 100%;
}

.badge-primary {
    position: absolute;
    padding-left: 5%;
    padding-right: 5%;
    font-size: small;
    top: 5px;
    left:10px
}

.btn-info {
    position: absolute;
    top: 5px;
    right: 1px;
    border: 0px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.header {
    flex-basis: 14%;
}


.menu1 {
    height: 440px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.menu2 {
    height: 600px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.menu3 {
    height: 730px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.dashboard-card {
    height: 135px;
    width: 94%;
    margin-bottom: 10px;
    margin-left: 5px;
}

.dashboard-card-content {
    margin-top: 5px;
    text-align: center;
}

.btn-circle-md {
    width: 40px;
    height: 40px;
    padding: 6px 0px;
    border-radius: 25px;
    text-align: center;
    font-size: 25px;
    line-height: 1.02857;
    margin-left: 5px;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 17px;
    line-height: 1.02857;
    margin-left: 5px;
}

.modal.show {
    display: block;
}


.flex-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.recipe-name {
    flex-basis: 75%;
    margin-bottom: 2px;
}

.delete {
    margin-top: 5px;
}

.r {
    margin-bottom: 5px;
}

.content {
    margin-top: 10px;
}