<div class="container">
    <button class="close" type="close" (click)="onClose()"><i class="fas fa-times"></i></button>
    <h1>Add an ingredient</h1>
    <form [formGroup]="addForm" (ngSumbit)="onSubmit()">
        <div class="form-group">
            <input id="ingredient" type="text" class="form-control" formControlName="ingredient" placeholder="Introduce an ingredient">
            <div *ngIf="addForm.controls.ingredient.touched && !addForm.controls.ingredient.valid" class="alert alert-danger">
                Please introduce an ingredient
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Add</button>
    </form>
</div>