<div class="grid-container">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" routerLink="menu-form">
                <i class="fas fa-plus-circle"></i> Add menu</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" (click)="deleteMenu(menu._id)">
                <i class="fas fa-minus-circle"></i> Delete menu</a>
        </li>
        <li *ngIf="menus.length > 0" class="nav-item">
            <a class="nav-link" routerLink="meal-form">
                <i class="fas fa-pen"></i> Edit</a>
        </li>
        <li *ngFor="let menu of menus">
            <a class="nav-link" (click)="activeMenu(menu.title)">
                {{menu.title}}
            </a>
        </li>
    </ul>
    
    <div *ngIf="menus.length > 0">
        <app-menu [menu]="menu"
            [httpOptions]="httpOptions"></app-menu>
    </div>
    
    <router-outlet></router-outlet>
</div>