<div class="grid-container">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" routerLink="menu-form">
                <i class="fas fa-plus-circle"></i> Add menu</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" (click)="showModalDel=true">
                <i class="fas fa-minus-circle"></i> Delete menu</a>
        </li>
        <!--<li *ngIf="menus.length > 0" class="nav-item">
            <a class="nav-link" routerLink="meal-form">
                <i class="fas fa-pen"></i> Edit</a>
        </li>-->
        <li *ngFor="let menu of menus">
            <a class="nav-link" (click)="activeMenu(menu.title)">
                {{menu.title}}
            </a>
        </li>
    </ul>

    <!-- Delete Menu Modal -->
    <div id="deleteModal" class="modal fade" role="dialog" [ngClass]="{'show': showModalDel}">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" (click)="showModalDel=false" data-bs-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <h2>Are you sure?</h2>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" (click)="deleteMenu(menu._id)">Yes</button>
                    <button type="button" class="btn btn-secondary" (click)="showModalDel=false" data-bs-dismiss="modal">No</button>
                </div>
            </div>
            
        </div>
    </div>

   <div *ngIf="menus.length == 0">
       <h2>You do not have any menus yet, add one!!</h2>
   </div>

    
    <div *ngIf="menus.length > 0">
        <app-menu [menu]="menu"
            [httpOptions]="httpOptions"></app-menu>
    </div>
    
    <router-outlet></router-outlet>
</div>