<div class="container">
    <h1>New menu</h1>
    <form class="f__group" [formGroup]="menuForm" (ngSubmit)="onSubmit()">
        <div>
            <div class="f">
                <input id="title" type="text" class="f__input" formControlName="title" placeholder=" " autocomplete="off">
                <label class="f__label" for="title">Title</label>
            </div>
        </div>
        <div>
            <div class="f">
                <input id="description" type="text" class="f__input" formControlName="description" placeholder=" " autocomplete="off">
                <label class="f__label" for="description">Description</label>
            </div>
        </div>
        <div>
            <div class="f">
                <label for="meals">Meals</label>
                <h4>Please select at least three meals</h4>
                <app-selectable-button [text]="meals[0]"
                                        (selected)="onClick($event)">
                </app-selectable-button>
                <app-selectable-button [text]="meals[1]"
                                        (selected)="onClick($event)">
                </app-selectable-button>
                <app-selectable-button [text]="meals[2]"
                                        (selected)="onClick($event)">
                </app-selectable-button>
                <app-selectable-button [text]="meals[3]"
                                        (selected)="onClick($event)">
                </app-selectable-button>
                <br>
                <button class="btn btn-primary"  type="submit">Add menu</button>
            </div>
        </div>
        <!--<div>
            <div class="f">
                <label for="meals">Meals</label>
                <select id="meal" type="meal" class="form-control" formControlName="meal" multiple>
                    <option *ngFor="let m of meals"
                        [value]="m">{{m}}</option>
                </select>
                <button class="btn btn-primary" type="submit">Add</button>
            </div>
        </div>-->
    </form>
</div>