<div class="container">
    <h1 *ngIf="recipe._id !== ''">Edit recipe</h1>
    <h1 *ngIf="recipe._id === ''">Add recipe</h1>
    <form class="f__group" [formGroup]="recipeForm">
        <div>
            <div class="f">
                <input id="name" type="text" class="f__input" formControlName="name" placeholder=" ">
                <label class="f__label" for="name">Name</label>
            </div>
        </div>
        <div>
            <div *ngIf="recipeForm.controls.name.touched && !recipeForm.controls.name.valid" class="alert alert-danger">
                Name is required
            </div>
        </div>
        <div>
            <div class="f">
                <input id="timing" type="number" class="f__input" formControlName="timing" placeholder=" ">
                <label class="f__label" for="timing">Timing minutes</label>
            </div>
        </div>
        <div>
            <div class="f">
                <input id="dinnerGuest" type="number" class="f__input" formControlName="dinnerGuest" placeholder=" ">
                <label class="f__label" for="dinnerGuest">Number of servings</label>
            </div>
        </div>
        <div>
            <div class="f">
                <input id="videoRecipe" type="string" class="f__input" formControlName="videoRecipe" placeholder=" ">
                <label class="f__label" for="videoRecipe">Video Recipe link</label>
            </div>
        </div>

        <div>
            <div class="f">
                <label for="diet">Diet</label>
                <select class="form-control" id="diet" type="diet" formControlName="diet">
                    <option selected>Diet...</option>
                    <option *ngFor="let d of diets"
                    [value]="d">{{d}}</option>
                </select>
            </div>
        </div>

        <div class="file">
            <div class="f">
                <input type="file" (change)="onFileSelected($event)">
            </div>
        </div>
        <div formGroupName="ingredients">
            <div class="f">
                <label for="ingredients">Ingredients</label>
                <div class="add">
                    <div class="f">
                        <input #quantity id="quantity" type="number" class="f__input" formControlName="quantity" placeholder=" ">
                        <label class="f__label" for="quantity">Quantity</label>
                    </div>
                    <div class="f">
                        <select #unit class="form-control" id="unit" type="text" formControlName="unit">
                            <option selected>Unit...</option>
                            <option *ngFor="let u of units"
                            [value]="u">{{u}}</option>
                        </select>
                    </div>
                    <!--<div class="f">
                        <select #unit id="unit" type="unit" class="f__input" formControlName="unit">
                            <option *ngFor="let u of units"
                                [value]="u">{{u}}</option>
                        </select>
                        <label class="f__label" for="unit" >Unit</label>
                    </div>-->
                    <div class="f">
                        <input #ingredient id="ingredient" type="text" class="f__input" formControlName="ingredient" placeholder=" ">
                        <label class="f__label" for="ingredient">Ingredient</label>
                    </div>
                    <button class="btn btn-primary btn-circle btn-add" (click)="onAddIngredient(quantity.value, unit.value, ingredient.value)"><i class="fas fa-plus"></i></button>
                </div>    
                <div *ngIf="recipeForm.controls.ingredients.touched && recipeForm.controls.ingredients.errors">
                    <div *ngIf="recipeForm.controls.ingredients.errors.required" class="alert alert-danger">
                        Please fill the three 
                    </div>
                    <div *ngIf="recipeForm.controls.ingredients.errors.alreadyInList" class="alert alert-danger">
                        Ingredient already in the recipe
                    </div>
                    <div *ngIf="recipeForm.controls.ingredients.errors.notExists" class="alert alert-danger">
                        Ingedient does not exist
                    </div>
                </div>
            </div>
        </div>
        
        <div class="list">
            <mat-card>
                <h3 class="card-title">Ingredients</h3>
                <div class="ingredientList">
                    <div *ngFor="let ingredient of ingredients">
                        <div class="add">
                            <div>{{ingredient.quantity}} {{ingredient.unit}} {{ingredient.ingredient}}</div>
                            <div>
                                <button  class="btn btn-secondary btn-circle" (click)="onDeleteIngredient(ingredient.ingredient)"><i class="fas fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card> 
        </div>
        
       
        <div class="add">
            <div class="f f__step">
                <input #step id="steps" type="steps" class="f__input" formControlName="steps" placeholder=" ">
                <label class="f__label" for="steps">Steps</label>
            </div>
            <button class="btn btn-primary btn-circle btn-add" (click)="onAddStep(step.value)"><i class="fas fa-plus"></i></button>
        </div>
           
        <div>
            <div *ngIf="recipeForm.controls.steps.touched && !recipeForm.controls.steps.valid" class="alert alert-danger">
                Please introduce at least one step
            </div>
        </div>

        <div class="list">
            <mat-card>
                <h3 class="card-title">Steps</h3>
                <div class="stepsList">
                    <div *ngFor="let step of steps">
                        <div>
                            <div>{{step}}</div>
                            <div>
                                <button  class="btn btn-secondary btn-circle" (click)="onDeleteStep(step)"><i class="fas fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card> 
        </div>

        <div>
            <div class="f">
                <label for="meals">Meals</label>
                <h4>Select the meals</h4>
                
                <app-selectable-button [text]="meals[0]"
                                        (selected)="onClick($event)">
                </app-selectable-button>
                <app-selectable-button [text]="meals[1]"
                                        (selected)="onClick($event)">
                </app-selectable-button>
                <app-selectable-button [text]="meals[2]"
                                        (selected)="onClick($event)">
                </app-selectable-button>
                <app-selectable-button [text]="meals[3]"
                                        (selected)="onClick($event)">
                </app-selectable-button>
                
            </div>
        </div>
        
        <br>
        <button class="btn btn-primary check" (click)="onSubmit()">Submit</button>
    </form>
</div>

