<div class="container">
    <h1>Profile</h1>
    <div class="data">
        <div class="data-pair">
            <div class="label">Name:</div>
            <div class="input">{{ user.firstname }}</div>
        </div>
        <div clas="data-pair">
            <div class="label">Lastname:</div>
            <div class="input">{{ user.lastname }}</div>
        </div>
        <div class="data-pair">
            <div class="label">Email:</div>
            <div class="input">{{ user.email }}</div>
        </div>
        <div class="data-pair">
            <div class="label">Birth year:</div>
            <div class="input">{{ user.birthyear }}</div>
        </div>
        <div class="data-pair">
            <div class="label">Diet:</div>
            <div class="input" *ngIf="user.diet == 'Omnivorous'">
                <i class="fas fa-drumstick-bite"><br>Omnivorous</i>
            </div>
            <div class="input" *ngIf="user.diet == 'Vegetarian'">
                <i class="fas fa-egg"><br>Vegetarian</i>
            </div>
            <div class="input" *ngIf="user.diet == 'Vegan'">
                <i class="fas fa-seedling"><br>Vegan</i>
            </div>
        </div>
        <div class="data-pair">
            <div class="label">Meals:</div> 
            <div class="meal" *ngFor="let m of user.meals">
                {{m}}
            </div> 
        </div>
    </div>

    <button class="btn btn-warning" (click)="onEdit(user.email)">Edit</button>
</div>
