@import '../../../app.component.css';
@media(min-width: 768px){

    .profile {
        width: 60%;
        margin: auto;
    }
    
    .btn-warning {
        margin-left: 20%;
    }
}

.profile > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
}

.data-pair {
    border-bottom: .7px solid aliceblue;
}

.label {
    font-family: "Convergence", sans-serif;
    flex-basis: 25%;
    font-size: small;
    color:slategrey;
}

.input {
    font-family: "Convergence", sans-serif;
    flex-basis: 70%;
    font-size: large;
}

.meal {
    text-align: center;
    font-family: "Convergence", sans-serif;
    flex-basis: 24%;
    font-size: large;
}