<div class="grid-container">
  <h1 class="mat-h1">Recipes</h1>
  <br>
  
  <div class="filter-input">
    <div class="input-group">
      <input #name type="search" class="form-control input-one" [formControl]="searchControl" placeholder="Search recipe">
    </div>
    
    <select #diet class="custom-select" id="diet">
      <option selected>Diet...</option>
      <option value="Omnivorous">Omnivorous</option>
      <option value="Vegetarian">Vegetarian</option>
      <option value="Vegan">Vegan</option>
    </select>
    
    <select #meal class="custom-select" id="meal">
      <option selected>Meal...</option>
      <option value="Breakfast">Breakfast</option>
      <option value="Snack">Snack</option>
      <option value="Lunch">Lunch</option>
      <option value="Dinner">Dinner</option>
    </select>
    
    <div class="input-ingredient">
      <input class="form-control" type="text" #ingredient placeholder="Introduce an ingredient"> 
    </div>
      <button type="button" class="btn btn-primary btn-circle input-three" (click)="onAddIngredient(ingredient.value)">
        <i class="fas fa-plus"></i>
    </button>

    <div>
      <button  class="btn btn-outline-primary  btn-circle" (click)="onSubmit(name.value, diet.value, meal.value)"><i class="fas fa-check"></i></button>
    </div>

    <mat-card class="ingredient-filter" *ngIf="ingredientsFilter.length > 0">
      <div class="card-title">Filter ingredients:</div>
      <div class="ingredientList">
          <div class="ingredient" *ngFor="let ingredient of ingredientsFilter">
              <div class="i">
                  <div>{{ingredient}}</div>
                  <button  class="btn btn-secondary btn-circle" (click)="onDeleteIngredient(ingredient)"><i class="fas fa-times"></i></button>
              </div>
          </div>
      </div>
    </mat-card> 
    
  </div>

  <app-display-recipes [recipes]="recipes"
                       [environment]="environment"
                       (saveRecipe)="onSave($event)"
  ></app-display-recipes>

</div>