<div class="container">
 
    <h1>Introduce or delete a recipe</h1>
    <div class="flex-box">
        <div class="f">
            <input #recipeName class="f__input" type="text" placeholder=" ">
            <label class="f__label" for="recipeName">Recipe</label>
        </div>
        <button class="btn btn-primary btn-circle" (click)="addRecipe(recipeName.value)">
            <i class="fas fa-plus"></i>
        </button>
    </div>  
    <div class="flex-box" *ngFor="let r of recipes">
        <h3 class="recipe-name">{{r.name}}</h3>
        <button *ngIf="r._id !== ''" class="btn btn-secondary btn-circle delete" (click)="deleteRecipe(r._id)">
            <i class="fas fa-minus"></i>
        </button>
    </div>

    <button type="submit" class="btn btn-secondary" (click)="close()">Close</button>
</div>
