@import '../../../app.component.css';
@media(min-width: 768px){

    .recipe {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 10px;
        margin-left: 10%;
        margin-right: 10%;
    }
}

img {
    height: 30%;
    width: 45%;
    align-content: center; 
}

.details {
    flex-basis: 40%;
}

.data-pair {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

.label-details {
    font-family: "Convergence", sans-serif;
    flex-basis: 25%;
    font-size: small;
    color:slategrey;
}

.input-details {
    font-family: "Convergence", sans-serif;
    flex-basis: 70%;
    font-size: medium;
}

.meal {
    font-family: "Convergence", sans-serif;
    flex-basis: 35%;
    font-size: medium;
}

.label {
    font-family: "Convergence", sans-serif;
    flex-basis: 100%;
    font-size: x-large;
    color:slategrey;
    margin-top: 2%;
}

.input {
    font-family: "Convergence", sans-serif;
    flex-basis: 100%;
    font-size: large;
}

.fa-plus-circle{
    margin-left: 5%;
}

.ingredient{
    font-family: "Convergence", sans-serif;
    font-size: medium;
    flex-basis: 100%;
}

.btn-warning {
    margin-top: 10px;
}

.modal.show {
    display: block;
}

.modal-body {
    display: flex;
    justify-content: space-between;
}