@import '../../../app.component.css';

img {
    margin-left: 2%;
    margin-top: 2%;
    height: 50%;
    width: 50%;
    align-content: center; 
}


.recipe {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.details {
    flex-basis: 40%;

}

.data-pair {
    display: flex;
    flex-direction: row;
}

.label-details {
    font-family: "Convergence", sans-serif;
    flex-basis: 25%;
    font-size: small;
    color:slategrey;
}

.input-details {
    font-family: "Convergence", sans-serif;
    flex-basis: 70%;
    font-size: medium;
}

.meal {
    font-family: "Convergence", sans-serif;
    flex-basis: 35%;
    font-size: medium;
}

.label {
    font-family: "Convergence", sans-serif;
    flex-basis: 100%;
    font-size: x-large;
    color:slategrey;
    margin-top: 2%;
}

.input {
    font-family: "Convergence", sans-serif;
    flex-basis: 100%;
    font-size: large;
}

.fa-plus-circle{
    margin-left: 5%;
}

.ingredient{
    font: bold;
}

.modal.show {
    display: block;
}

.modal-body {
    display: flex;
    justify-content: space-between;
}