<div class="grid-container">
    <h1>{{ recipe.name }}</h1>
    <br>

    <div class="recipe">
        <img src="{{ recipe.image }}" >
        <mat-card class="details">
            <div class="data-pair">
                <div class="label-details">TIMING </div>
                <div class="input-details">{{ recipe.timing }}</div>
            </div>
            <div class="data-pair">
                <div class="label-details">SERVINGS </div>
                <div class="input-details">{{ recipe.guest }}</div>
            </div>
            <div class="data-pair">
                <div class="label-details">DIET </div>
                <div class="input-details" *ngIf="recipe.diet == 'Omnivorous'">
                    <i class="fas fa-drumstick-bite"></i> Omnivorous
                </div>
                <div class="input-details" *ngIf="recipe.diet == 'Vegetarian'">
                    <i class="fas fa-egg"></i> Vegetarian
                </div>
                <div class="input-details" *ngIf="recipe.diet == 'Vegan'">
                    <i class="fas fa-seedling"></i> Vegan
                </div>
            </div>
            <div class="data-pair">
                <div class="label-details">MEAL </div>
                <div class="meal" *ngFor="let m of recipe.meal">
                    {{m}}
                </div>
            </div>
            <div class="data-pair">
                <div class="label-details">INGREDIENTS </div> 
                <div class="ingredient" *ngFor="let ing of recipe.ingredients">
                    <i data-bs-toggle="modal" data-bs-target="#modal" *ngIf="loggedIn == true" class="fas fa-plus-circle" (click)="onAdd(ing.ingredient)"></i>
                    {{ing.quantity}} {{ing.unit}} {{ing.ingredient}}
                </div>
            </div>
        </mat-card>
        <div *ngIf="recipe.videoRecipe != '' && recipe.videoRecipe != null" class="label">Video Recipe</div>
        <a   *ngIf="recipe.videoRecipe != '' && recipe.videoRecipe != null" class="input" href="{{recipe.videoRecipe}}">{{recipe.videoRecipe}}</a>
        <div class="label">STEPS TO FOLLOW</div>
        <div class="input" *ngFor="let step of recipe.steps">
            {{ step }}
        </div>
        
        <button *ngIf="editable == true" class="btn btn-warning" (click)="onEdit(recipe._id)" ><i class="fas fa-pen"></i></button> 
    </div>

    <router-outlet></router-outlet>
    
    <div id="modal" class="modal fade" role="dialog" [ngClass]="{'show': showModal}">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <p>{{modalText}}</p>
                    <button type="button" class="close" (click)="showModal=false" data-bs-dismiss="modal">&times;</button>
                </div>
            </div>
            
        </div>
    </div>
</div>
