<h1>Edit profile</h1>

<div class="f__group">
    <div class="f">
        <input class="f__input" [(ngModel)]="user.firstname" id="firstname" type="text" placeholder=" " autocomplete="off">
        <label class="f__label" for="firstname">Firstname</label>
    </div>
    <div class="f">
        <input class="f__input" [(ngModel)]="user.lastname" id="lastname" type="text" placeholder=" " autocomplete="off">
        <label class="f__label" for="lastname">Lastname</label>
    </div>
    <div class="f">
        <input class="f__input" [(ngModel)]="user.birthyear" id="birthyear" type="number" placeholder=" ">
        <label class="f__label" for="birthyear">Birth year</label>
    </div>

    <div class="f">
        <label for="diet">Diet</label>
        <select class="form-control" id="diet" type="diet" formControlName="diet">
            <option selected>Diet...</option>
            <option *ngFor="let d of diets"
            [value]="d">{{d}}</option>
        </select>
    </div>
    

    <div class="f">
        <label for="meals">Meals</label>
        <h4>Please introduce at least three meals</h4>
        
        <app-selectable-button [text]="meals[0]"
                               (selected)="onClick($event)">
        </app-selectable-button>
        <app-selectable-button [text]="meals[1]"
                               (selected)="onClick($event)">
        </app-selectable-button>
        <app-selectable-button [text]="meals[2]"
                               (selected)="onClick($event)">
        </app-selectable-button>
        <app-selectable-button [text]="meals[3]"
                               (selected)="onClick($event)">
        </app-selectable-button>
    </div>-->

</div>
<button class="btn btn-primary" (click)="onSubmit()">Sumbit</button>