<div class="container">
    <h1>{{ recipe.name }}</h1>
    <div class="row">
        <div class="col-6">
            <img src="{{ recipe.image }}" >
        </div>
        <div class="col">
            <div class="label">Timing:</div>
            <div class="input">{{ recipe.timing }}</div>
            <div class="label">Guest:</div>
            <div class="input">{{ recipe.guest }}</div>
            <div class="label">Diet:</div>
            <div class="row">
                <div class="input" *ngIf="recipe.diet == 'Omnivorous'">
                    <i class="fas fa-drumstick-bite"><br>Omnivorous</i>
                </div>
                <div class="input" *ngIf="recipe.diet == 'Vegetarian'">
                    <i class="fas fa-egg"><br>Vegetarian</i>
                </div>
                <div class="input" *ngIf="recipe.diet == 'Vegan'">
                    <i class="fas fa-seedling"><br>Vegan</i>
                </div>
            </div>
            <div class="label">Meal:</div>
            <div class="input" *ngFor="let m of recipe.meal">
                    {{m}}
                </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="label">Ingredients:</div> 
                <div class="ingredient" *ngFor="let ing of recipe.ingredients">
                    <i data-bs-toggle="modal" data-bs-target="#modal" *ngIf="loggedIn == true" class="fas fa-plus-circle" (click)="onAdd(ing)"></i>
                    {{ing}}
                </div>
            <br>
            <div class="label">Recipe steps:</div>
            <div class="input" *ngFor="let step of recipe.steps">
                {{ step }}</div>
        </div>
    </div>
    <br>
    <button *ngIf="loggedIn == true" class="btn btn-warning" ><i class="fas fa-pen"></i></button> 
    <router-outlet></router-outlet>
    
    <!-- Modal -->
    <div id="modal" class="modal fade" role="dialog" [ngClass]="{'show': showModal}">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <p>{{modalText}}</p>
                    <button type="button" class="close" (click)="showModal=false" data-bs-dismiss="modal">&times;</button>
                </div>
            </div>
            
        </div>
    </div>
</div>
