@import '../../app.component.css';
@media (min-width: 768px){

    .list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .f {
        flex-basis: 90%;
    }
}

@media (max-width: 768px){

    .f {
        flex-basis: 75%;
    }
}


.input {
    margin-top: 1.5rem;
}

.ingredientList > div > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.ingredientList > div {
    margin-bottom: 3px;
}

.modal.show{
    display: block;
}

mat-card {
    flex-basis: 45%;
    margin-bottom: 2%;
}
